.header {
  background-color: var(--basic-simple-black);
}

.header--sticky {
  position: sticky;
  top: 0;

  z-index: 1;
}

.header--start {
  background-color: var(--basic-dark-blue);
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  padding-top: 10px;
  min-height: 60px;
}

.header__logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
  height: 40px;

  color: var(--basic-white);
  font-size: 30px;
  font-weight: bold;
}

.header__nav {
  margin-top: 10px;
  width: 100%;
}


/*Header toggle*/
.header__toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 20px;

  width: 40px;
  height: 40px;

  background-color: transparent;
}

.header__toggle:hover  svg,
.header__toggle:focus  svg {
  fill: red;
}

@media(min-width: 768px) {
  .header {
    border-bottom: 1px solid var(--basic-gray);
  }

  .header--start {
    border-bottom: 1px solid var(--basic-white)
  }

  .header__wrapper {
    align-items: center;
    padding: 0 25px;
    min-height: 50px;
  }

  .header__toggle {
    display: none;
  }

  .header__nav {
    position: static;

    margin-top: 0;
    margin-left: auto;
    width: auto;
    min-height: 50px;

    background-color: transparent;
  }
}

@media(min-width: 1200px) {
  .header__wrapper {
    margin: auto;
    width: 1024px;
  }

  .header__logo {
    margin: 0;
  }
}


@media(min-width: 1300px) {
  .header__wrapper {
    margin: auto;
    width: 1280px;
  }
}
