.home {
  color: var(--basic-white);
  font-family: 'Zilla Slab', serif;
  background-color: var(--basic-dark-blue);
}

.home__inner {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: min-content 1fr;

  padding-top: 30px;
  padding-bottom: 30px;
}

.home__user {
  width: 55px;
  height: 55px;

  overflow: hidden;

  background-color: var(--basic-current);
  border-radius: 50%;
}

.home__title {
  position: relative;
  margin: 0;

  font-size: 1.5em;
  font-weight: lighter;
  text-align: left;
  letter-spacing: 1.2px;
/*  background: linear-gradient(to left, var(--basic-dark-blue) 50%, var(--basic-current) 50%);*/
}

.home__title p {
  margin: 0;
}

.home__title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.home__links {
  grid-column-start: 2;
  padding-top: 20px;
}

.home__links-list {
  display: flex;
  justify-content: space-between;
}

.home__links-link {
  color: var(--basic-white);
  font-family: 'Poppins',sans-serif;
}

.home__links-title {
  color: var(--basic-current);
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
}

@media(min-width: 480px) {
  .home__title {
    font-size: 32px;
  }

  .home__user {
    width: 100px;
    height: 100px;
  }

}

@media(min-width: 768px) {
  .home__inner {
    align-items: center;
    column-gap: 20px;

    padding-top: 60px;
  }

  .home__user {
    width: 120px;
    height: 120px;
  }

  .home__title p {
    font-size: 1.3em;
  }
}

