.nav__item {
  position: relative;

  display: flex;
  /*min-width: 60px;*/
  height: 60px;
}

.nav__link {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 10px;
  width: 100%;

  color: var(--basic-white);
  font-size: 20px;
  transition: ease-in 0.3s;
}

.nav__link::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 50%;


  width: 60px;
  height: 2px;

  transform: translateX(-50%);
}

.nav__link[href]:hover,
.nav__link[href]:focus {
  color: var(--basic-red);
}

.nav__link[href]:hover.nav__link::after,
.nav__link[href]:focus.nav__link::after {
  background-color: var(--basic-red);
  transform: translateX(-50%);
}

.nav__link--current.nav__link::after {
  background-color: var(--basic-red);
}

@media (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
    height: 100%;

    box-shadow: none;
  }

  .nav__item {
    border: none;
  }

  .nav__link {
    position: relative;

    padding: 0 15px;
    font-size: 18px;
  }

}
