.page {
  position: relative;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;

  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;
  font-size: 14px;

  background-color: var(--basic-simple-black);
}

.page__footer {
  margin-top: auto;
}

.page__github-repo {
  position: absolute;
  top: 70px;
  right: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 48px;
  height: 48px;

  background-color: var(--basic-gray);
  border-radius: 50%;
}

.page__github-repo svg {
  width: 40px;
  height: 40px;
  fill: var(--basic-red);
}

.page__github-repo:hover svg,
.page__github-repo:focus svg {
  opacity: 0.3;
}
