.project {
  text-transform: capitalize;
}

.project a {
  color: #f44336;
}

.project a:hover {
  opacity: 0.7;
}


.project__title {
  display: flex;
  align-items: center;

  position: relative;
  margin-bottom: 10px;

  text-align: left;
}

.project__cover {
  border-radius: 5px;
  overflow: hidden;
}

.project__info {
  padding-top: 10px;
  flex-grow: 2;
}

.project__sound {
  display: flex;
  align-items: center;
  width: 100%;
}

audio {
  width: 100%;
}

.project__track-info {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  gap: 20px;
}

.project__name,
.project__track-name {
  font-size: 18px;
}

.project__style,
.project__year {
  font-size: 12px;
}

.project__label {
  margin: 0;
}

@media(min-width: 480px) {

  .project__track-list {
    margin: 0;
    width: auto;
  }

  .project__track {
    display: grid;
    grid-template-columns: 180px 1fr;
    gap: 20px;
  }

  .project__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0;
  }

  .project__track-info {
    height: 100%;
  }
}

@media(min-width: 640px) {
  .project__track {
    grid-template-columns: 200px 1fr;
  }

  .project__in-title {
    text-align: left;
    font-size: 20px;
  }

  .project__style,
  .project__year {
    font-size: 14px;
  }
}

@media(min-width: 768px) {
  .project__in-title {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
  .project__track-list {
    grid-template-columns: 1fr 1fr;
  }

  .project__in-title {
    font-size: 20px;
  }

  .project__sound {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
