.container {
  width: auto;
  padding: 0 20px;
}

@media(min-width: 768px) {
  .container {
    padding: 0 25px;
  }
}

@media(min-width: 1300px) {
  .container {
    margin: auto;
    padding: 0 20px;
    width: 1280px;
  }
}

