:root {
  --basic-white: #ffffff;
  --basic-gray: #2e2e2e;
  --basic-red: #f44336;
  --basic-green: #4caf50;
  --basic-simple-black: #000000;
  --basic-black: #262626;
  --basic-dark-black: #333333;
  --basic-purple: #1c0a35;
  --basic-current: #2196f3;
  --basic-dark-blue: #004073;
}
